@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 80vh;
  background: linear-gradient(90deg, #499fd6 0%, #437ebf 100%);
  position: relative;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 30%;
  z-index: 0;
  color: white;
}

header::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -15vh;
  height: 50vh;
  background: linear-gradient(90deg, #499fd6 0%, #437ebf 100%);
  z-index: -2;
  transform: skewY(5deg);
  border-bottom-left-radius: 10% 40%;
  border-bottom-right-radius: 20% 80%;
}

header > svg {
  color: white;
  position: absolute;
  bottom: -100px;
  right: 200px;
  transform: rotate(-30deg);
  z-index: 0;
}

.navbar {
  font-size: 1.6em;
  width: 100%;
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  column-gap: 65px;
  align-items: center;
  padding: 20px;
  text-transform: capitalize;
}

.navbar h2 {
  padding-left: 40px;
  font-size: 2em;
  font-weight: 600;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  cursor: pointer;
  position: relative;
  margin-right: 55px;
}

.navbar li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -10px;
  background-color: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms ease-in;
}

.navbar li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar__main-menu {
  display: flex;
  justify-content: flex-start;
}

.navbar__sub-menu {
  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.button {
  cursor: pointer;
  border: none;
  padding: 18px 30px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.button--navbar {
  background-color: white;
}

.button--navbar span {
  margin-left: 30px;
  color: #ff8f6d;
}

.hero {
  padding: 100px 0 0 180px;
  font-size: 1.6em;
  width: 50%;
  animation: anim-down 3s forwards ease-out;
}

.hero h1 {
  font-size: 3em;
  line-height: 1.4;
  margin-bottom: 40px;
  font-weight: 400;
}

.hero h6 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.6;
}

.hero form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 60%;
}

.hero input {
  width: 200px;
  padding: 20px;
  border-radius: 6px;
  border: none;
  background-color: #6bb3e8;
  color: white;
}

.hero input::placeholder {
  color: white;
  opacity: 0.6;
}

.button--submit {
  background: linear-gradient(135deg, #5be838 0%, #5be838 60%, #57ff9a 100%);
  grid-column: 1/3;
  color: white;
  text-transform: capitalize;
}

.separator {
  position: relative;
  width: 100%;
  height: 30vh;
  padding: 0px 140px;
  margin-bottom: 80px;
}

.separator::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 6px;
  background-color: black;
  bottom: 0;
}

section.introduction {
  display: grid;
  margin-bottom: 160px;
  overflow: hidden;
}

.introduction--brands {
  grid-template-columns: 60% 40%;
}

.introduction__text {
  padding: 0 140px;
  font-size: 1.6em;
}

.introduction__text h1 {
  font-size: 3em;
  line-height: 1.4;
  margin-bottom: 40px;
  font-weight: 400;
}

.introduction__text p > span {
  opacity: 0.8;
  font-size: 1.2em;
  text-transform: capitalize;
  margin-right: 40px;
  position: relative;
}

.introduction__text p > span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: currentColor;
}

.brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 80px);
  gap: 60px 10px;
  justify-items: start;
  margin: 120px 0;
}

.brands img {
  height: 100%;
}

.introduction--brands > .introduction--right {
  background-color: #f4f6f9;
  width: 110%;
  transform: rotate(-3deg);
  padding: 70px 80px;
  margin-top: 60px;
  border-radius: 8px;
}

introduction--brands > .introduction--right > * {
  transform: rotate(3deg);
  width: 90%;
}

.introduction__images p {
  font-size: 2em;
  line-height: 2.4;
  padding: 30px 0;
  opacity: 0.6;
}

.introduction__images hr {
  margin: 70px 0;
  opacity: 0.2;
}

.profile {
  display: flex;
  font-size: 1.6em;
  align-items: center;
}

.profile img {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__info {
  padding: 10px 30px;
}

.profile__info h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.profile__info h6 {
  font-size: 0.8em;
  font-weight: 400;
}

.slider {
  margin-left: 140px;
  display: flex;
  align-self: flex-end;
}

.slider span {
  width: 14px;
  height: 14px;
  margin-left: 20px;
}

.slider input[type='radio'] {
  display: none;
}

.slider label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #9f9f9f;
  transition: background 250ms ease;
}

.slider input[type='radio']:checked + label {
  background-color: black;
}

.introduction--services {
  grid-template-columns: 40% 60%;
}

.introduction--left > img {
  position: relative;
  width: auto;
  height: 750px;
  margin-left: -90%;
  border-radius: 10px;
}

.introduction--services .introduction--right {
  margin-top: 50px;
}

.introduction--services .introduction__text {
  padding-right: 0;
}

.services__button-group > button:last-child {
  background-color: #e9e9e9;
  box-shadow: none;
  margin-left: 20px;
}

.services__features {
  list-style: none;
  margin: 70px 0;
}

.services__features li {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.services__features li + li {
  margin-top: 50px;
}

.services__features i {
  color: #5be838;
  font-size: 1.5em;
  margin-right: 20px;
}

.separator-config {
  display: inline;
  position: relative;
  margin: 130px 0;
  display: flex;
  justify-content: center;
}

.separator-config i {
  padding: 1em;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #f3f3f3;
  font-size: 2em;
  color: #437ebf;
}

.separator-config::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: #cecece;
}

section.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  font-size: 1.6em;
  text-align: center;
  width: 50%;
  margin-bottom: 80px;
}

.features__title h1 {
  font-size: 2.6em;
  font-weight: 400;
  margin-bottom: 40px;
}

.features__title h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 40px;
  opacity: 0.6;
}

.features__items {
  margin-bottom: 80px;
}

.features__items > .features__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.features__items > .features__title h6 {
  margin-left: 80px;
}

.features__items a {
  text-decoration: none;
}

.features__items a:hover {
  text-decoration: underline;
}

.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.content__card {
  font-size: 1.6em;
  padding: 80px 70px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.content__card span {
  color: #499fd6;
  font-size: 4em;
  height: 88px;
}

.content__text {
  margin-left: 35px;
  width: 300px;
}

.content__text h6 {
  text-transform: capitalize;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.content__text sup {
  font-size: 0.5em;
}

.content__text p {
  opacity: 0.8;
}

section.comments {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 30px 130px 130px;
}

.comments__image {
  overflow: hidden;
  background-image: url('../images/coffee-shop.jpg');
  background-size: cover;
  background-position-x: -50px;
  height: 500px;
  border-radius: 10px 0 0 10px;
}

.comments__content {
  padding: 60px 120px;
  background-color: #437ebf;
  color: white;
  font-size: 1.2em;
  max-height: 500px;
  border-radius: 0 10px 10px 0;
}

.comments__content hr {
  margin: 30px 0;
}

section.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.question__title {
  font-size: 1.6em;
  margin-bottom: 160px;
  position: relative;
}

.question__title h1 {
  font-size: 2.6em;
  font-weight: 400;
}

.question__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -60px;
  width: 14px;
  height: 4px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.question__list {
  font-size: 1.6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 0 130px;
  list-style: none;
}

.question__list li {
  width: 100%;
}

.question__list h6 {
  font-size: 1em;
  margin-bottom: 30px;
}

.question__list p {
  margin-bottom: 30px;
}

.question__list p:only-child,
.question__list p:last-child {
  margin-bottom: 50px;
}

footer {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
}

footer p + p {
  margin-top: 10px;
}

@keyframes anim-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-down {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
